.activities
  -#= link_to "Chat", group_path, class: "button2" 
  -#= link_to "Members", member_path, class: "button2" 
  -#= link_to "Events", group_path, class: "button2" 
  -# = link_to "Fotos", group_path, class: "button2" 
  -#= link_to "Videos", group_path, class: "button2" 
  -#= link_to "Files", user_path, class: "button2" 
  = link_to "Manage", edit_group_path, class: "button2" 