.giimage
	= link_to (image_tag group.image(:thumbnail)), group_path(group)
.gititle
	= link_to truncate(group.title, :length => 100),group_path(group)
.gidescription
	= link_to truncate(group.description, :length => 400), group_path(group)