<%= render "layouts/dashboardnav" %>
<div class="aboutbox">
	<div class="jumbotron">
	  <h1>About</h1>
	  <p>Conserving Earth is currently in Aplha/Prototype fase of its development. Alot has to be added and fixed. </p>
	  <h1>Github</h1>
	  <p>Everyone is welcome to contribute. As I've only just tipped my toe in to the world of web developemnt, everything might take a little longer to implement </p>
	  <a class="button" href="https://github.com/ConservingEarth/ConservingEarth">Link to Github</a>
	  <h1>Email</h1>
	  <p> Please send any questions, feedback or anything else to our email  </p>
	  <p>conservingearth@gmail.com</p>
	  <div class="jbimages">
	  	<a href="https://www.facebook.com/conservingearth"><i class="fa fa-facebook-official"></i></a>
	  	<a href="https://www.youtube.com/conservingearth"><i class="fa fa-youtube-play"></i></a>
	  	<a href="https://www.twitter.com/conservingearth"><i class="fa fa-twitter"></i></a>
	  	<a href="https://github.com/ConservingEarth/ConservingEarth"><i class="fa fa-github"></i></a>
	  	<!-- <a href="https://www."><i class="fa fa-slack"></i></a> -->
	  </div>
	</div>

	
</div>