<%= render "layouts/nav" %>
<div class="about">
<br>
<h1>Want to help out or find out more information? check out the following </h1>	
<br>
		<ul>
			The website is open source and on Github, everyone is able to contribute at <a href="https://github.com/ConservingEarth/ConservingEarth">https://github.com/ConservingEarth/ConservingEarth</a>
		</ul>
		<br>
		<ul>
			All Suggestion, News, Information can be posted, discussed, read at <a href="http://www.reddit.com/conservingearth">http://www.reddit.com/conservingearth</a>
		</ul>
		<br>
		<ul>
			Our youtube channel is <a href="http://www.youtube.com/conservingearth">http://www.youtube.com/conservingearth</a>
		</ul>
		<br>
		<ul>
			We can recieve tweets at <a href="http://www.twitter.com/conservingearth">http://www.twitter.com/conservingearth</a>
		</ul>
		<br>
	
</div>