<%= render "layouts/nav" %>
<div class="aboutbox">
	<div class="about">
		
		<h1>Want to help out or find out more information? check out the following </h1>
	</div>	

	<div class="githubinfo">
			<ul>
				The website is open source and on Github, everyone is able to contribute<br>
				<hr>
				<br>
				<a href="https://github.com/ConservingEarth/ConservingEarth">link to github</a>
			</ul>
	</div>
	<div class="redditinfo">
			<ul>
				All Suggestion, News, Information can be posted, discussed<br>
				<hr>
				<br>
				<a href="http://www.reddit.com/conservingearth">link to reddit</a>
			</ul>
	</div>
	<div class="youtubeinfo">
			<ul>
				Our youtube channel<br>
				<hr>
				<br>
				 <a href="http://www.youtube.com/conservingearth">link to youtube</a>
			</ul>
	</div>
	<div class="twitterinfo">
			<ul>

				We can recieve tweets<br>
				<hr>
				<br>
				<a href="http://www.twitter.com/conservingearth">Link to Twitter</a>
			</ul>
	</div>
</div>