<%= render "layouts/nav" %>
<div class="aboutbox">
	<div class="jumbotron">
	  <h1>About</h1>
	  <p>Conserving Earth is currently in Aplha/Prototype fase of its development. Alot has to be added and fixed. </p>
	</div>
	
	<div class="jumbotron">
	  <h1>Github</h1>
	  <p>Everyone is welcome to contribute. As I've only just tipped my toe in to the world of web developemnt, everything might take a little longer to implement </p>
	  <p><a class="button" href="https://github.com/ConservingEarth/ConservingEarth">link to github</a></p>
	</div>

	<div class="jumbotron">
	  <h1>Reddit</h1>
	  <p>All Suggestion, News, Information can be posted and discussed</p>
	  <p><a class="button" href="http://www.reddit.com/conservingearth">link to reddit</a></a></p>
	</div>

	<div class="jumbotron">
	  <h1>Twitter</h1>
	  <p>If in need of a quick response </p>
	  <p><a class="button" a href="http://www.twitter.com/conservingearth">Link to Twitter</a></p>
	</div>

	<div class="jumbotron">
	  <h1>Youtube</h1>
	  <p>Our youtube channel</p>
	  <p><a class="button" a href="http://www.youtube.com/conservingearth">link to youtube</a></p>
	</div>

	<div class="jumbotron">
	  <h1>IRC</h1>
	  <p>IRC might be an easy way to chat: ConservingEarth@quakenet</p>
	</div>
	

	
</div>