= render "layouts/nav"
= render "user/activities" 
#thenews
	#news
		%br
		%h2 Followed News
		%hr
		%br

	#tweets
		%br
		%h2 Favorite Videos
		%hr
		%br
			
	#ad
		%br
		%h2 Joined Groups
		%hr
		%br	
	%br	
	%br		