<%= render "layouts/dashboardnav" %>
<div class="dashboard">
	<div class="dbjumbo">
		<% @user.friends.each do |friend| %>
				<h2>
					<%= link_to friend.name, friend %>
				</h2>
		<% end %>
	</div>
