= render "layouts/nav" 
= render "user/activities" 
.usercontent
	.userinfo
		.useravatar
		.userdetails
			%h1
				= @user.name
			%h1
				= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post 
	.userdescription
		%h2 
			future user info