/*
	* This is a manifest file that'll be compiled into application.css, which will include all the files
	* listed below.
	*
	* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
	* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
	*
	* You're free to add application-wide styles to this file and they'll appear at the bottom of the
	* compiled file so the styles you add here take precedence over styles defined in any styles
	* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
	* file per style scope.
	*
	*= require 'masonry/transitions'
	*= require_tree .
	*= require_self
	*/




@import 'media.css.scss';
@import "bourbon";



 
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	

}

a {
	text-decoration: none;
}
span{
	color: #33CC33;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

html {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    
}

body{
	
	position:relative;
}

html { 
 	font-family: 'Raleway', sans-serif; 
 	
 } 
 
 
 h1, h2, h3, h4, h5, h6 { 
 	font-weight: 500;
 	text-decoration: none; 
 } 

 .btn-submit {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  background: #33CC33;
  padding: 10px 20px;
  border: 0;
  margin-top: 6px;
}

.form {
  text-align:center;
  margin: 0 auto 10px;
  padding: 20px 0 10px 0;
  font-size: 16px;
  width: 300px;
  }

 .signupcontainer {
  padding: 0;
  width: 100%;
}
 
 
.button{
	padding: .4rem .5rem;
	border-radius: .2rem;
	outline: none;
	background: #33CC33;
	color: white;

}
.button2{
	padding: .9rem .9rem .9rem .9rem;
	border-radius: .2rem;
	outline: none;
	color: white;
	font-size: 30px;
}


ul{
	list-style-type: none;
}

.mapcontainer{
}

 #map {
 	float: right;
 	width: 50%;
 	height: 100%;
 	display: block;
 	position: fixed;
 	right: 0;
 	left: auto;
 	bottom: 0;

 }

.overview{
 height: 100%;
 width: 50%;
 float:left;
 background-color: yellow;

}

.header {
	margin: auto;
	float: top;
	background-color: #333;
	height: 50px;
	width: 100%;

	
}

.navhead{

	padding-left: 15px
}

.logo a {
	font-size: 1.3em;
	color: inherit;
	list-style: none;
	text-decoration: none;
	color: white;
}

.logo{
	width: 200px;
	float: left;
	padding-top: 10px;
	padding-left: 5px;
	margin: 0 auto;
	color: inherit;
	list-style: none;
	
	

}

.userlogin{

	float: right;
	padding-top: 10px;
	padding-right: 50px;
	width: 200px;
	margin: 0 auto;
	color: white;
}


.usermenu{

	height: 150px;
	width: 150px;
	position: absolute;
	background-color: #333;
	display: block;
	text-decoration: none;
	list-style: none;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin: 0px auto;
	padding-top: 20px;
	top: 50px;
	overflow: hidden;
	z-index: 5;
}

.usermenu ul {
	width: 100%;
	list-style: none;

}

.usermenu ul li{
	width: 100%;
	display: inline-block;
	list-style: none;
	text-decoration: none;
}

.usermenu ul li a {
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;
	text-decoration: none;
	color: white;
	display: block;
	-webkit-transition :0.2s;
	-moz-transition :0.2s;
	-o-transition :0.2s;
	transition :0.2s;
}

.userlogin a{
	color: inherit;
	list-style: none;
	text-decoration: none;

	
}
.userlogin a:hover{
	background-color: gray;

}

.form-inputs {
	border: 1px black solid;
	padding: 20px;
	background-color: yellow;
}

.search{
	
	padding: 10px;
	width: 600px;
	margin: 0px auto;
	padding-top: 10px;

}

.sidebar {
	@include position(absolute, 50px 0 0 0);
	width: 200px;
	background-color: #333;
	float: left;
	text-decoration: none;
	z-index: 0;


}

.content{
	@include position(relative, 0 0 0 0);
	width: 89%;
	z-index: 0;
	left: 200px;
	overflow-y: scroll;
	height: 100%;
	padding-top: -50px;


	
}

.activities{
	width: 100%;
	height: 100px;
	background-color: gray;
	padding-top: 1.5em;


}

.paginate {
	clear: both;
 	position: relative;
 	z-index: 10;
 	

}

.yield{
	
}

.rightbar {
	@include position(absolute, 50px 0 0 0);
	width: 300px;
	background-color: #fff;
	float: right;
	z-index: 0
	

	
}

.sidebar-nav{
	
	margin: 0px auto;
}

.sidebar-nav ul {
	
	align-items: center;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.sidebar-nav ul li {
	display: inline-block;
	list-style: none;
	text-decoration: none;
	margin: 0 20px;

}

.sidebar-nav ul li a {
	text-decoration: none;
	color: #666;
	display: block;
	padding: 10px;
	font-size: 0.8em;
	border-bottom: 1px solid #0A0A0A;
	-webkit-transition :0.2s;
	-moz-transition :0.2s;
	-o-transition :0.2s;
	transition :0.2s;
}

.sidebar-nav a:hover{
	text-decoration: none;
	background-color: #33CC33;
	text-decoration: none;
	color: #fff; 

}

.sidebar-nav a.focus {
	text-decoration: none;
	background-color: #33CC33;
	color: #fff;
	text-decoration: none; 
}

.sidebar-nav-links {
	text-decoration: none;
	list-style: none;
	color: white;
	display: block;
	padding: 10px;
	font-size: 0.8em;
	text-decoration: none;
	padding-left: 20px;
}



input{
	padding: 5px;
}

.positioner{
	max-width: 970px;
	margin: 0 auto;

}

.mediapagecontainer{
	display: flex;
}

.mediacontainer{
	
	width: 1000px;
	height: 50%;
	border: 1px solid black;
	margin: 0 auto;
	display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

.media {
	position: relative;
	width: auto;
	height: 150px;
	padding: 10px;
	border: 1px solid black;
	
	
}

.media img{
 	height: 100px;
 	width: 100px;
	

}

.mediacontent{

	height: 100px;
	width: 100px

}

.meta{
	
	margin: 0 20px;
}


#news {
	padding: 5px;
	text-decoration: none;
	.new {
		padding: 5px;
		text-decoration: none;
	}
}