// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#events {
		float: left;
		width:	85%;
		padding: 0 5% 0 2.5%;

	.event {
		background: #Fff;
		width: 200px;
		float: left;
		margin-left: 20px;
		margin-bottom: 20px;
		.event_image {
			width: 100%;
			overflow: hidden;
			img {
				width: 100%;
				
			}
		}
		.event_content {
			h2 {
				margin: 0;
				font-weight: 100;
				padding: 0.5rem 5%;
				font-size: 12px;
				height: 50px;
				a {
					text-decoration: none;
					color: #333233;
					&:hover {
						color: #50A7C7;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}

#eventcontainer{
	padding-top: 50px;
	margin-right: 50px;
	margin-left: 250px;
	padding-right: 20px;
}
#event_show {
	background-color: #fff;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding:10px;
	.event_image_description {
		width: 50%;
		float: left;
		
	}
	.event_data {
		width: 15%;
		float: left;
		.button {
			width: 100%;
			display: inline-block;
			padding: .75rem 0;
			margin-bottom: 1rem;
			text-align: center;
			text-decoration: none;
			color: #ffffff;
			&:hover {
				color: #50A7C7;
				border: 1px solid #50A7C7;
			}
		}
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border-bottom: 1px solid #E9E9E9;
			text-decoration: none;
			color: #969696;
			margin: 0;
		}
	}

}

.newevet{
	margin-left: 20%;
	padding-top: 5%;
	padding-right: 100px;
}

.eventpage{
	background-color: #f1f1f1;
	margin-left: 10%;
	padding-top: 50px;
	width: 90%;
}

.eventnew{
	margin-left: 20%;
	padding-top: 5%;
	width: 50%;
}