#intro {
	margin: 2.75rem 0 1.75rem 0;
	text-align: center;
	font-size: 1.75rem;
	line-height: 1;
	span {
		font-size: 1.25rem;
		color: #9B9B9B;
	}
}


#news {
		float: left;
		margin-top: 35px;
		background-color: #fff;

	.new {
		background:#fff;
		margin: 20px;
		width:125vh;
		background-color:#fff;
		box-shadow: 0 6px 12px rgba(0,0,0,.175);
		.new_image {
			overflow: hidden;
			img {
				width: 100%;
				
			}
		}
		.new_content {
			h2 {
				margin: 0;
				font-weight: 100;
				padding-bottom: 0.5rem;
				border-bottom: 1px solid #E4E4E4;
				font-size: 1.25rem;
				a {
					text-decoration: none;
					color: #333233;
					&:hover {
						color: darkgreen;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}


#new_show {
	background-color: #fff;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	padding:10px;
	.new_image_description {
		width: 50%;
		float: left;
	}
	.new_data {
		width: 15%;
		float: left;
		.button {
			width: 100%;
			display: inline-block;
			padding: .75rem 0;
			margin-bottom: 1rem;
			text-align: center;
			text-decoration: none;
			color: #ffffff;
			&:hover {
				background-color: darkgreen;
				
			}
		}
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border-bottom: 1px solidarkgreend #E9E9E9;
			text-decoration: none;
			color: #969696;
			margin: 0;
		}
	}
	#random_post {
		width: 25%;
		margin-left: 5%;
		margin-top: -3.2rem;
		float: left;
		h3 {
			font-size: 1rem;
		}
		.new {
			.post_image {
				height: 200px;
				overflow: hidden;
				img {
					width: 100%;
					border-radius: .3rem .3rem 0 0;
				}
			}
			.new_content {
				h2 {
					margin: 0;
					font-weight: 100;
					padding: 1rem 5%;
					border-bottom: 1px solid #E4E4E4;
					font-size: 1.25rem;
					a {
						text-decoration: none;
						color: #333233;
						&:hover {
							color: #50A7C7;
						}
					}
				}
				.data {
					padding: .75rem 5%;
					color: #969696;
					.username, .buttons {
						margin: 0;
						font-size: .8rem;
					}
					.username {
						float: left;
					}
					.buttons {
						float: right;
						span {
							margin-left: .5rem;
						}
					}
				}
			}
		}
	}
	h1 {
		margin: 0;
		color: #333233;
	}
	img {
		width: 100%;
		border-radius: .3rem;
	}
	.username {
		color: #969696;
		margin: 0 0 1.5rem 0;
	}
	.description {
		margin: 2rem 0;
		font-size: 1.1rem;
		line-height: 1.5;
		color: #000000;
	}
}

.newnews{
	margin-left: 20%;
	padding-top: 5%;
	padding-right: 100px;

}

#thenews{
	
	background-color: #f1f1f1;
	margin-left: 250px;
	padding-top: 50px;
	width:175vh;

}

#tweets{
 	float: left;
 	width: 40vh;
	padding: 0 2.5%;
}

#newscontainer{
	padding-top: 50px;
	margin-right: 50px;
	margin-left: 250px;
	padding-right: 20px;
}

.addpost{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #fff;
  font-size: 20px;
  background: gray;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	
}