= render "layouts/nav"
.memberpage
	= render "groups/dashboard"
	#groups
		%br
		%h2 Members
		%hr
		%br	
			- @members.each do |member|
				.group
					.group_image
						= image_tag member.avatar.url(:thumb)
					.group_content
						.title
							%h2= link_to member.name, member